<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if !@microposts.empty? %>
  <h2>マイクロポスト</h2>
  <p><%= @microposts[0].content %></p>
  <p><%= @microposts[0].user_id %></p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
